html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    color: white;
}


.navbar {
    width: 19%;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.nav-link {
    color: white;
    transition: color, 0.5s;
}

.nav-link:hover {
    color: grey;
}

.profilePicture {
    width: 75%;
    height: auto;
   
}

.header {
    font-family: 'Permanent Marker', cursive;
    font-size: 45px;
    text-align: left;
    color: white;
}

.subheader {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
}

.rounded {
    width: 100%;
    height:100%;
    
}

    .rounded:hover {
        transform: scale(1.2);
    }

    .icon {
        width:25px;
        height:auto;
    }

        .icon:hover {
            background-color: white;
            border-radius: 50%;
        }

    .btn:hover {
        background-color: grey;
        opacity: 60%;
    }

 a {
     text-decoration:none;
 }

.icon1 {
    width: 20px;
    height: auto;
}

    .icon1:hover {
        
        background-color: white;
    }