@{
    ViewData["Title"] = "Home Page";
}

<br /><br />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
             <img class="profilePicture" src="./images/profilepicture1.png" />
            </div>
        <div class="col-md-6">
            <div class="header">
                Mitchell Griffiths
            </div>
            <div class="subheader">
                <strong>Software Engineer</strong> 
                <br /><br />
                Passionate about crafting exceptional web applications and driven by a love for coding,
                I am a Full Stack Software Developer with a diverse skill set based in Sacramento, CA. My journey in web development has led me to master the art of building captivating 
                user interfaces using HTML, CSS, JavaScript, and Bootstrap 4. Additionally, I possess expertise 
                in the powerful combination of C# and the .NET Framework,
                enabling me to create robust MVC applications that stand out from the crowd.
                <br /><br />
                I take immense pride in my work, and I approach every project with a combination of creativity, technical expertise, 
                and an unwavering commitment to excellence. As I continue to evolve in this ever-changing landscape,
                I eagerly look forward to new challenges and opportunities to make a positive impact with my coding prowess.
            </div>
        </div>
    </div>
</div>
