@{
    ViewData["Title"] = "Projects";
}
<br /><br />
<div class="row">


    <div class="col">
        <img src="/images/linkmanager.png" class="rounded float-lg-start" />
        <button type="button" class="btn btn-black text-white" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="
A personal dashboard I made that allowed me to save the links I wanted with descriptions on why I saved them. I utilized Entity Framework and .NET Core for the backend to interact with the database to modify the contents of the dashboard.
">
        Link Manager
        </button>
        <a href="https://github.com/mitchellmgriff/CollectionManager">
        <img src="/images/github.png" class="icon" />
        </a>
        <a href="/images/linkmanager.png">
        <img src="/images/save.png" class="icon1" />
        </a>

    </div>


    <div class="col">
        <img src="/images/newCandidate.png" class="rounded" />
        <button type="button" class="btn btn-black text-white" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="
A basic CRM for tracking applicants that allowed clients to see a dashboard that can be filtered to their customization of all relevant data including resumes, contact information, salary ranges, and social media profiles.
">
            Candidate CRM
        </button>
        <a href="https://github.com/mitchellmgriff/CandidateCom-Simple-Candidate-Dashboard">
         <img src="/images/github.png" class="icon" />
        </a>
        <a href="/images/newCandidate.png">
        <img src="/images/save.png" class="icon1" />
        </a>
    </div>


    <div class="col">
        <img src="/images/chatapp.png" class="rounded float" />
        <button type="button" class="btn btn-black text-white" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="
Was interested in SignalR for its real time capabilities. I thought a chat application where I could chat with whoever else had the application was a cool idea. Used blazor as my template for the application due to its responsiveness with components.
">
            Chat App
        </button>
        <a href="http://github.com/mitchellmgriff/chatapp">
            <img src="/images/github.png" class="icon" />
            </a>
        <a href="/images/chatapp.png">
        <img src="/images/save.png" class="icon1" />
        </a>
    </div>


    <div class="col">
        <img src="/images/razorshop1.png" class="rounded float" />
        <button type="button" class="btn btn-black text-white" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="
One of my first projects where I wanted to build a shopping cart and basically went around that functionality to make an entire E-commerce shop that allowed you to add items to your shopping cart and go through checkout. I also added functionality on filtering items by type of clothing, accessories, and color.
">
           E-Commerce
        </button>
        <a href="https://github.com/mitchellmgriff/FITCOMV2">
        <img src="/images/github.png" class="icon" />
        </a>
        <a href="/images/razorshop1.png">
        <img src="/images/save.png" class="icon1" />
        </a>
    </div>


    <div class="col">
        <img src="/images/BoredAPI.png" class="rounded float-lg-end" />
        <button type="button" class="btn btn-black text-white" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="
I created an integration of the BoredAPI into a .NET Core MVC application to give it a Bootstrap UI and allow me to add customizations to the queries, the API does not return results for certain queries but I thought it would be good practice for integrating third-party APIs in .NET apps..
">
            BoredAPI
        </button>
        <a href="https://github.com/mitchellmgriff/BoredAPI">
        <img src="/images/github.png" class="icon" />
        </a>
        <a href="/images/BoredAPI.png">
        <img src="/images/save.png" class="icon1" />
        </a>
    </div>
</div>