@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <h2>
        Mitchell Griffiths
    </h2>

    Sacramento, CA
<br>
<br>
<strong>Programming/Development:</strong> HTML, CSS, JavaScript, jQuery,  Bootstrap, C#, Node.js
<br>
<strong>Frameworks/Libraries:</strong> ASP.NET Core, .NET Framework, .NET Core, MVC, Blazor/Razor, LINQ
<br>
<strong>Database:</strong> SQL, MySQL, MS SQL Server, Entity Framework
<br>
<strong>IDEs:</strong> Visual Studio Code, Visual Studio 2022, Notepad++
<br>
<strong>Project Management:</strong> Trello, Azure DevOps
<br>
<strong>Version Control:</strong> TFS/Git, GitHub
<br>

<br>
<strong>Education:</strong>
<br>
<strong>California State University, Chico </strong> 2020
<br>
    Bachelor of Arts - Psychology
<br>
<br>
<strong>C# and .NET Bootcamp | The Tech Academy  </strong>                                                                                        2023
<br>
    ❖	Immersive Full Stack Software Developer boot camp with more than 600 hours of instruction and hands-on coding. Predominantly the program is based on C#, along with the fundamentals of Computer Science, Algorithms, .NET Framework, MVC, HTML, CSS, JavaScript, T-SQL/SQL, Agile / SCRUM and web application development. Completed numerous practical projects

<br>
<br>
<strong>Experience: </strong>
<br>

<strong>Software Developer Intern | Prosper IT Consulting - Portland, OR </strong>                                                                       04/23- Present
<br>
❖	<strong>Skillset used:</strong> C#, .NET Framework, .NET Core, ASP.NET, Entity Framework, HTML, CSS, JavaScript, Bootstrap
<br>
❖	Created a basic CRM for tracking applicants that allowed clients to see a dashboard that can be filtered to their customization of all relevant data including resumes, contact information, salary ranges and social media profiles.
<br>
❖	Designed and implemented the web application using ASP.NET Core, Entity Framework, and SQL Server using T-SQL to query certain changes in the database.
<br>
❖	Utilized Entity Framework to model and interact with the database, allowing for easy retrieval and modification of user information with a Code First approach.
<br>
❖	Employed HTML, CSS, and Bootstrap to create an intuitive and user-friendly interface for interacting with the web application.
<br>
<br>


<strong> Zeektek						November 2021 – Present</strong>
    Technical Recruiter
<br>
    ❖	Familiar with programming languages and “lingo” to thoroughly understand job descriptions.
<br>
❖	Worked in a team environment to be able to schedule interviews, give technical interview preparation and coordinate with Account Manager and Hiring Managers to ensure a smooth hiring process.
<br>
